@{
    ViewData["Title"] = "Home Page";
}

<img class="logo" src="~/assets/img/WWTBAM_logo.png" alt="" style="width: 20rem;">
<div class="menu">
    <a class="help button" href="">Your Room</a>
    <a class="play button" asp-action="Index" asp-controller="Game">Play</a>
</div>
