@{
    ViewData["Title"] = "Kết thúc Game";
}

<link rel="stylesheet" href="~/css/endgame.css">

<body>
    <div id="notice">
        <h1 id="title">Game Over!</h1>
        <h5 id="result">Total: @ViewBag.Score/15</h5>
        <h5 id="result">Total: $@ViewBag.Reward</h5>
        <section id="menu">
            <a href="StartGame">Try again</a>
            <a href="../Home/Index">Home</a>
        </section>
    </div>
</body>