@{
    ViewData["Title"] = "Kết thúc Game";
}

<link rel="stylesheet" href="~/css/endgame.css">

<body>
    <div id="notice">
        <h1 id="title">Game Over</h1>
        <h5 id="result">Total: @ViewBag.Score/15</h5>
        <a href="StartGame">Try again</a>
    </div>
</body>