@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: justify;
}

body {
    width: 100%;
    height: 100vh;

    display: block;
    position: relative;
}
        
@keyframes scale-up {
    0% { transform: scale(1) }
    100% { transform: scale(1.25); }
}

@keyframes scale-down {
    0% { transform: scale(1.25); }
    100% { transform: scale(1); }
}

#menu {
    width: 23%;
    height: 100%;

    padding-top: 1em;
    
    float: right;
    background-color: #0929a5;

    .lifelines {
        width: 100%;

        margin-top: 1rem;

        display: flex;
        justify-content: center;
        gap: 1em;

        img {
            height: 2.3rem;
            animation: scale-down 500ms forwards;
        }

        img:hover {
            animation: scale-up 500ms forwards;
        }
    }

    .list {
        margin-inline: 4rem;

        position: relative;
        top: 4rem;

        p {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            padding: 6px;
            padding-left: 1rem;
            font-size: larger;
            color: orange;
            border-radius: 999px;
        }

p.selected {
    background-color: #ffff1a;
    color: black !important;
}

        p.imp {
            font-size: 1.4rem;
            color: white;
        }
    }

    #giveUp {
        color: white;
        font-size: 2rem;
        margin-inline: 4rem;
        position: absolute;
        bottom: 1rem;
    }
}

.main_question {
    width: 77%;
    height: 100%;
    float: left;
    background: url('../assets/img/WWTBAM_bg.jpg') no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.logo {
    width: 20rem;
    height: 20rem;

    margin-top: 3rem;
}

.question {
    width: 100%;
    height: 100%;

    margin-top: 2rem;
    

    .content {
        width: 100%;
        height: 8rem;
        background: url('../assets/img/Content.png') no-repeat;
        background-size: 100% 100%;
        color: #ffff1a;
        font-family: "PT Serif", serif;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            width: 75%;
            height: 100%;

            display: flex;
            align-items: center;
        }
    }

    .answer {
        width: 100%;
        height: calc(100% - 8rem);

        list-style: none;
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        li {
            background: url('../assets/img/select.png') no-repeat;
            background-size: 100% 100%;
            object-fit: contain;

            .select {
                height: 100%;
                text-decoration: none;
                color: #ffff1a;
                font-family: "PT Serif", serif;
                padding-inline: 4rem;
                display: flex;
                align-items: center;

                p {
                    padding-inline: 1rem;
                }
            }
        }

    }
}


.answer a {
    display: block;
    transition: opacity 0.5s ease;
}

/*animation datalist level*/
.correct-answer {
    background-color: #28a745; /* Màu xanh lá */
    animation: correctBlink 0.5s infinite alternate;
}

.wrong-answer {
    background-color: #dc3545; /* Màu đỏ */
    animation: wrongBlink 0.5s infinite alternate;
}

@keyframes correctBlink {
    0% {
        background-color: #28a745;
    }

    100% {
        background-color: #71d284;
    }
}

@keyframes wrongBlink {
    0% {
        background-color: #dc3545;
    }

    100% {
        background-color: #f28b8b;
    }
}
/*animation datalist level*/

/*animation answer*/
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.correct{
    background-image: url('../assets/img/rightanswer-removebg-preview.png');
    background-size: 100% 100%;
    background-position: center;
    color: #fff; /* Đổi màu chữ nếu cần để nổi bật */
    animation: blink 0.5s linear 4;
}

.wrong{
    background-image: url('../assets/img/wronganswer-removebg-preview.png');
    background-size: 100% 100%;
    background-position: center;
    color: #fff; /* Đổi màu chữ nếu cần để nổi bật */
    animation: blink 0.5s linear 4;
}
/*animation answer*/


.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
#myLink {
    transition: opacity 2s ease-out; /* Thiết lập hiệu ứng mờ dần */
    visibility: visible; /* Ban đầu phần tử vẫn hiển thị */
}
.answer a.disabled {
    opacity: 0.5; /* Làm mờ đáp án */
    pointer-events: none; /* Ngăn chặn click */
    cursor: not-allowed; /* Đổi con trỏ chuột */
}

/*AskAudience*/

#audienceChart {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 200px;
    background-color: rgba(248, 249, 250, 0.5);
    padding: 15px;
    border-radius: 10px;
    border: 3px solid;
    border-color: black;
    text-align: center;
    font-size: 18px;
    color: #333;
    display: none;
}

.bar {
    width: 20%;
    text-align: center;
}

    .bar span {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .bar .progress {
        background-color: red;
        width: 100%;
        height: 0;
        transition: height 1s ease;
    }

/*CallFamily*/
.phone-help {
    background-color: rgba(248, 249, 250, 0.5);
    padding: 15px;
    border-radius: 10px;
    border: 3px solid;
    border-color: black;
    font-size: 18px;
    color: #333;
    display: none;
}

#phone-respone {
    text-align: center;
}


/*ToTuVan*/
#advisor-section {
    display: none;
    background-color: rgba(248, 249, 250, 0.5);
    padding: 10px;
    border-radius: 8px;
    border: 3px solid;
    border-color: black;
}

.advisor {
    display: flex;
    align-items: center;
}

    .advisor img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
    }

.advisor-comment {
    font-style: italic;
}

#lifelines-res {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-wrap: nowrap;
    z-index: 10;
    gap: 2rem;

    * {
          height: max-content;
      }
}

.notice {
    width: 20rem;
    height: 10rem;
    background-color: blueviolet;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    position: absolute;
    top: calc(100% / 2 - 10rem / 2);
    left: calc(100% / 2 - 7rem / 2);
    box-shadow: 0 0 0 200rem rgba(0, 0, 0, 0.5);
    z-index: 100;
    h1

    {
        color: yellow;
        font-size: 2rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    div {
        display: flex;
        gap: 3rem;
        a

        {
            padding: 0.7rem;
            background-color: yellow;
            border-radius: 1rem;
            color: blueviolet;
            font-weight: 800;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-decoration: none;
            cursor: pointer;
        }

    }
}


div:has( .notice) {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 80;
    display: none;
}

div:has( .notice.show) {
    display: flex;
}

.pointer {
    cursor: pointer;
}

#countdown {
    margin-left: 1rem;
    width: 3rem;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: calc(80vh / 2 - 3rem / 2);
    font-size: 3rem;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: yellow;
}
